.section11 {
    /* margin: 5%; */
    margin-left: 8%;
    margin-right: 10%;
    background-color: #f4f4f4;

}

.section11_info-container {
    width: 100%;
    margin: 2vh auto;
    background-color: #fff;

    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}

.section11_info-container h1 {
    font-size: calc(1vw + 1.5vh);
}

.section11_info-container p {
    font-size: calc(0.5vw + 1.5vh);
    color: #464343;
    margin: 1vh 0;
}


.section11_info p {
    padding: 0 2vh;
    font-size: 1.6vh;
    line-height: 1.6;
    border-bottom: 1px solid #000000;
    padding-top: 2vh;
    padding-bottom: 1.5vh;
    margin-bottom: 1vh;
    cursor: pointer;
}

.section11_info p:hover {
    color: #000;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    font-size: 2vh;
}

.section11_info p a {
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
    color: #464343;
}


.section11_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    scrollbar-width: none;
    -ms-overflow-style: none;
}
.section11_modal::-webkit-scrollbar {
    display: none;
}


.section11_modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2vh;
    border: 1px solid #888;
    width: 80%;
    max-width: 90vh;
    transform: translate(0%, calc(-50% + 40vh - 10vw));
}

.section11_close {
    color: #aaa;
    float: right;
    font-size: 3vh;
    font-weight: bold;
}

.section11_modal-content h2 {
    font-size: 2.5vh;
    margin: 2vh 0;
}

.section11_modal-content p {
    font-size: 1.6vh;
    line-height: 1.6;
    margin: 1vh 0;
}

.section11_close:hover,
.section11_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.section11_modal-content img {
    width: 100%;
    height: auto;

}
